@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  background-color: #ffffff;
}

h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.bd-grid, .header, .nFound {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.section {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 767.99px) {
  .section {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

.l-header {
  width: 100%;
}

.header {
  height: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header__title {
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333333;
  letter-spacing: -0.08em;
}

.nFound {
  row-gap: 3.75rem;
}

.nFound__img {
  width: 285px;
  margin: auto;
}

.nFound__title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #333333;
  letter-spacing: -0.035em;
}

@media screen and (max-width: 525.99px) {
  .nFound__title br {
    display: none;
  }
}

.nFound__text {
  font-size: 1.125rem;
  color: #4f4f4f;
  margin: 1.875rem 0 4rem;
}

.nFound__btn {
  display: inline-block;
  background-color: #333333;
  color: #fff;
  padding: 1.5rem 2.75rem;
  text-transform: uppercase;
  letter-spacing: -0.035em;
  cursor: pointer;
}

.footer {
  margin-top: 6.875rem;
  height: 2rem;
  text-align: center;
}

.footer__text {
  font-size: 0.875rem;
  color: #bdbdbd;
}

.footer__text a {
  color: #7732e6;
}

@media screen and (min-width: 768px) {
  .nFound {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .nFound__img {
    width: 95%;
  }
}

@media screen and (min-width: 992px) {
  .nFound {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

@media screen and (min-width: 1026px) {
  .nFound {
    margin: auto;
    -ms-grid-columns: 540px auto;
        grid-template-columns: 540px auto;
    row-gap: 0;
  }
  .nFound__img {
    width: 85%;
    margin: 0;
  }
}
